In [1]:
import pandas as pd
df = pd.read_csv('./data/CEO3.csv', encoding='latin')
df[0:10]

,number,firm,publishing,country,text,Unnamed: 5,Unnamed: 6,Unnamed: 7,Unnamed: 8,Unnamed: 9,...,Unnamed: 450,Unnamed: 451,Unnamed: 452,Unnamed: 453,Unnamed: 454,Unnamed: 455,Unnamed: 456,Unnamed: 457,Unnamed: 458,Unnamed: 459
0,2,Amorepacific,1,Korea,We will use beauty to change the world and bec...,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,4,Amorepacific,3,Korea,AMOREPACIFC Group will endeavor to become a gr...,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,502,Amorepacific,4,Korea,AMOREPACIFIC Group has been pursuing the path ...,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,5,Asiana Airlines,1,Korea,This year marks the 25th anniversary of the es...,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,6,Asiana Airlines,2,Korea,"Since the inception, Asiana Airlines has pledg...",NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
5,7,Asiana Airlines,3,Korea,All of us will do our best without stopping fo...,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
6,503,Asiana Airlines,4,Korea,"First of all, I would like to express my heart...",NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
7,11,BNK Financial Group Inc.,3,Korea,Since the establishment of Busan Bank in 1967 ...,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
8,504,BNK Financial Group Inc.,4,Korea,"In March 2011, BNK Financial Group was launche...",NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
9,12,BPA,3,Korea,I am pleased to introduce various sustainable ...,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [2]:
texts = df.get('text')
texts[0:10]

0    We will use beauty to change the world and bec...
1    AMOREPACIFC Group will endeavor to become a gr...
2    AMOREPACIFIC Group has been pursuing the path ...
3    This year marks the 25th anniversary of the es...
4    Since the inception, Asiana Airlines has pledg...
5    All of us will do our best without stopping fo...
6    First of all, I would like to express my heart...
7    Since the establishment of Busan Bank in 1967 ...
8    In March 2011, BNK Financial Group was launche...
9    I am pleased to introduce various sustainable ...
Name: text, dtype: object

In [3]:
from nltk.tokenize import RegexpTokenizer
tokenizer = RegexpTokenizer(r'\w+')

from nltk.stem import WordNetLemmatizer
lemmatizer = WordNetLemmatizer()

In [4]:
import nltk
nltk.download('stopwords')

from nltk.corpus import stopwords
stop_words = nltk.corpus.stopwords.words('english')
stop_words.extend([])
stop_words[0:10]

[nltk_data] Downloading package stopwords to
[nltk_data]     C:\Users\HTS\AppData\Roaming\nltk_data...
[nltk_data]   Package stopwords is already up-to-date!

['i', 'me', 'my', 'myself', 'we', 'our', 'ours', 'ourselves', 'you', "you're"]

In [5]:
from nltk import wordnet
nltk.download('wordnet')
preprocessed_texts = []
for text in texts.values:
    tokenized_text = tokenizer.tokenize(text.lower())
    lemmatized_text = [lemmatizer.lemmatize(token) for token in tokenized_text]
    stopped_text = [token for token in lemmatized_text if token not in stop_words]
    preprocessed_texts.append(stopped_text)

[nltk_data] Downloading package wordnet to
[nltk_data]     C:\Users\HTS\AppData\Roaming\nltk_data...
[nltk_data]   Package wordnet is already up-to-date!

In [6]:
from collections import Counter
tokens = []
for text in preprocessed_texts:
    tokens.extend(text)

counted_tokens = Counter(tokens)
top_20 = counted_tokens.most_common(20)
top_20

[('business', 1534),
 ('company', 1445),
 ('year', 1159),
 ('management', 969),
 ('global', 953),
 ('growth', 938),
 ('sustainability', 907),
 ('customer', 890),
 ('also', 766),
 ('value', 755),
 ('new', 752),
 ('community', 722),
 ('world', 713),
 ('ha', 700),
 ('product', 683),
 ('social', 669),
 ('employee', 658),
 ('stakeholder', 651),
 ('effort', 637),
 ('u', 635)]

In [1]:
import pandas as pd
df = pd.read_csv('./data/smartphone.csv', encoding='utf-8')
df[0:10]

Empty DataFrame
Columns: [Title, Link, Description, Blogger Name, Blogger Link, Post Date, Post Contents]
Index: []

In [8]:
posts = df.get('Title') + " " + df.get('Description')
posts[0:10]

0    삼성 폴더블폰 갤럭시f 특징, 사전예약은? wapotv.com 2월 21일 새벽 4...
1    삼성 갤럭시 폴드 디자인 스펙 가격 출시일 언팩 행사에서 공개 할여했던 삼성 갤럭시...
2    폴더블폰-삼성 갤럭시 폴드 vs 화웨이 메이트X 고화질 이미지 폴더블폰 시대 개막 ...
3    [일상] 삼성 갤럭시 팬 큐레이터 3기 면접 후기 이번 갤럭시 S10 출시를 앞두고...
4    삼성 갤럭시 S10 화면 디스플레이 화질 한계를 다시 경신 화질 삼성 갤럭시 S10...
5    갤럭시S10 사전예약 사은품은? 삼성언팩 한눈정리 그러나 10주년을 맞이한 갤럭시의...
6    삼성 갤럭시 S9플러스 갤럭시S9+ 라일락 퍼플/선라이즈골드... 삼성 갤럭시 S9...
7    폴더블폰 삼성 갤럭시 폴드 화웨이 메이트X 글쎄!! 삼성을 경쟁자로 생각하고 있는 ...
8    삼성 갤럭시 S10 프리즘 화이트 개봉기! 갤럭시 S10은 삼성이 칼을 갈고 나왔다...
9    삼성 갤럭시 s10+ 프리즘화이트 실제 사용 리뷰 갤럭시 s10 플러스의 무게는 1...
dtype: object

In [9]:
!pip install eunjeon

Requirement already satisfied: eunjeon in c:\python\venv\tensorflow\lib\site-packages (0.4.0)

You are using pip version 19.0.3, however version 19.1.1 is available.
You should consider upgrading via the 'python -m pip install --upgrade pip' command.

In [10]:
from eunjeon import Mecab
tagger = Mecab()

In [11]:
stop_words = "은 이 것 등 더 를 좀 즉 인 옹 때 만 원 이때 개 일 기 시 럭 갤 성 삼 스 폰 트 드 기 이 리 폴 사 전 마 자 플 블 가 "
stop_words=stop_words.split(' ')
stop_words[0:10]

['은', '이', '것', '등', '더', '를', '좀', '즉', '인', '옹']

In [12]:
nouns = []
for post in posts:
    for noun in tagger.nouns(post):
        if noun not in stop_words:
            nouns.append(noun)
nouns[0:10]

['삼성', '더블', '갤럭시', '특징', '사전', '예약', '월', '새벽', '삼성', '갤럭시']

In [13]:
words = []
for post in posts:
    words.extend(tagger.pos(post))
words[0:10]

[('삼성', 'NNP'),
 ('폴', 'NNP'),
 ('더블', 'NNP'),
 ('폰', 'NNP'),
 ('갤럭시', 'NNP'),
 ('f', 'SL'),
 ('특징', 'NNG'),
 (',', 'SC'),
 ('사전', 'NNG'),
 ('예약', 'NNG')]

In [14]:
verbs=[]
for word in words:
    if word[1]=='VV':
        verbs.append(word[0]+'다')
verbs[0:10]

['알아보다', '들다', '꺼내다', '앞두다', '갈고닦다', '뛰어넘다', '넣다', '접다', '갈다', '넣다']

In [15]:
adjective=[]
for word in words:
    if word[1]=='VA':
        adjective.append(word[0]+'다')
adjective[0:10]

['싸다', '괜찮다', '있다', '크다', '뒤늦다', '뒤늦다', '깊다', '있다', '이쁘다', '없다']

In [16]:
from collections import Counter
counted_nouns = Counter(nouns)
top_20 = counted_nouns.most_common(20)
top_20

[('갤럭시', 3352),
 ('삼성', 2544),
 ('스마트폰', 397),
 ('삼성전자', 366),
 ('출시', 273),
 ('폴드', 264),
 ('노트', 224),
 ('워치', 211),
 ('공개', 208),
 ('플러스', 195),
 ('사용', 193),
 ('카메라', 173),
 ('더블', 163),
 ('모델', 159),
 ('스펙', 154),
 ('가격', 141),
 ('시리즈', 137),
 ('팩', 135),
 ('수', 134),
 ('이번', 129)]