In [1]:
import pandas as pd
df = pd.read_csv('./data/CEO3.csv', encoding='latin')
df[0:10]

,number,firm,publishing,country,text,Unnamed: 5,Unnamed: 6,Unnamed: 7,Unnamed: 8,Unnamed: 9,...,Unnamed: 450,Unnamed: 451,Unnamed: 452,Unnamed: 453,Unnamed: 454,Unnamed: 455,Unnamed: 456,Unnamed: 457,Unnamed: 458,Unnamed: 459
0,2,Amorepacific,1,Korea,We will use beauty to change the world and bec...,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,4,Amorepacific,3,Korea,AMOREPACIFC Group will endeavor to become a gr...,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,502,Amorepacific,4,Korea,AMOREPACIFIC Group has been pursuing the path ...,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,5,Asiana Airlines,1,Korea,This year marks the 25th anniversary of the es...,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,6,Asiana Airlines,2,Korea,"Since the inception, Asiana Airlines has pledg...",NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
5,7,Asiana Airlines,3,Korea,All of us will do our best without stopping fo...,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
6,503,Asiana Airlines,4,Korea,"First of all, I would like to express my heart...",NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
7,11,BNK Financial Group Inc.,3,Korea,Since the establishment of Busan Bank in 1967 ...,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
8,504,BNK Financial Group Inc.,4,Korea,"In March 2011, BNK Financial Group was launche...",NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
9,12,BPA,3,Korea,I am pleased to introduce various sustainable ...,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [2]:
texts = df.get('text')
texts[0:10]

0    We will use beauty to change the world and bec...
1    AMOREPACIFC Group will endeavor to become a gr...
2    AMOREPACIFIC Group has been pursuing the path ...
3    This year marks the 25th anniversary of the es...
4    Since the inception, Asiana Airlines has pledg...
5    All of us will do our best without stopping fo...
6    First of all, I would like to express my heart...
7    Since the establishment of Busan Bank in 1967 ...
8    In March 2011, BNK Financial Group was launche...
9    I am pleased to introduce various sustainable ...
Name: text, dtype: object

In [3]:
from nltk.tokenize import RegexpTokenizer
tokenizer = RegexpTokenizer(r'\w+')

from nltk.stem import WordNetLemmatizer
lemmatizer = WordNetLemmatizer()

In [4]:
import nltk
nltk.download('stopwords')

from nltk.corpus import stopwords
stop_words = nltk.corpus.stopwords.words('english')
stop_words.extend([])
stop_words[0:10]

[nltk_data] Downloading package stopwords to
[nltk_data]     /Users/byeonghyeon/nltk_data...
[nltk_data]   Package stopwords is already up-to-date!

['i', 'me', 'my', 'myself', 'we', 'our', 'ours', 'ourselves', 'you', "you're"]

In [5]:
from nltk import wordnet
nltk.download('wordnet')
preprocessed_texts = []
for text in texts.values:
    tokenized_text = tokenizer.tokenize(text.lower())
    lemmatized_text = [lemmatizer.lemmatize(token) for token in tokenized_text]
    stopped_text = [token for token in lemmatized_text if token not in stop_words]
    preprocessed_texts.append(stopped_text)
# preprocessed_texts

[nltk_data] Downloading package wordnet to
[nltk_data]     /Users/byeonghyeon/nltk_data...
[nltk_data]   Package wordnet is already up-to-date!

In [7]:
from collections import Counter
tokens = []
for text in preprocessed_texts:
    tokens.extend(text)

    
counted_tokens = Counter(tokens)
top_20 = counted_tokens.most_common(20)
top_20

[('business', 1534),
 ('company', 1445),
 ('year', 1159),
 ('management', 969),
 ('global', 953),
 ('growth', 938),
 ('sustainability', 907),
 ('customer', 890),
 ('also', 766),
 ('value', 755),
 ('new', 752),
 ('community', 722),
 ('world', 713),
 ('ha', 700),
 ('product', 683),
 ('social', 669),
 ('employee', 658),
 ('stakeholder', 651),
 ('effort', 637),
 ('u', 635)]

In [8]:
import pandas as pd
df = pd.read_excel('./산업안전보건법.xlsx')
df[0:10]

                                                 조내용
0  제1조(목적) 이 법은 산업 안전 및 보건에 관한 기준을 확립하고 그 책임의 소재를...
1  제2조(정의) 이 법에서 사용하는 용어의 뜻은 다음과 같다. <개정 2020.5.2...
2  제3조(적용 범위) 이 법은 모든 사업에 적용한다. 다만, 유해ㆍ위험의 정도, 사업...
3  제4조(정부의 책무)산업 안전 및 보건 정책의 수립 및 집행산업재해 예방 지원 및 ...
4  제5조(사업주 등의 의무)이 법과 이 법에 따른 명령으로 정하는 산업재해 예방을 위...
5  제6조(근로자의 의무) 근로자는 이 법과 이 법에 따른 명령으로 정하는 산업재해 예...
6  제7조(산업재해 예방에 관한 기본계획의 수립ㆍ공표)고용노동부장관은 산업재해 예방에 ...
7  제8조(협조 요청 등)「부가가치세법」 제8조 및 「법인세법」 제111조에 따른 사업...
8  제9조(산업재해 예방 통합정보시스템 구축ㆍ운영 등)고용노동부장관은 산업재해를 체계적...
9  제10조(산업재해 발생건수 등의 공표)고용노동부장관은 산업재해를 예방하기 위하여 대...

In [9]:
posts = df.get('조내용')
posts[0:10]

0    제1조(목적) 이 법은 산업 안전 및 보건에 관한 기준을 확립하고 그 책임의 소재를...
1    제2조(정의) 이 법에서 사용하는 용어의 뜻은 다음과 같다. <개정 2020.5.2...
2    제3조(적용 범위) 이 법은 모든 사업에 적용한다. 다만, 유해ㆍ위험의 정도, 사업...
3    제4조(정부의 책무)산업 안전 및 보건 정책의 수립 및 집행산업재해 예방 지원 및 ...
4    제5조(사업주 등의 의무)이 법과 이 법에 따른 명령으로 정하는 산업재해 예방을 위...
5    제6조(근로자의 의무) 근로자는 이 법과 이 법에 따른 명령으로 정하는 산업재해 예...
6    제7조(산업재해 예방에 관한 기본계획의 수립ㆍ공표)고용노동부장관은 산업재해 예방에 ...
7    제8조(협조 요청 등)「부가가치세법」 제8조 및 「법인세법」 제111조에 따른 사업...
8    제9조(산업재해 예방 통합정보시스템 구축ㆍ운영 등)고용노동부장관은 산업재해를 체계적...
9    제10조(산업재해 발생건수 등의 공표)고용노동부장관은 산업재해를 예방하기 위하여 대...
Name: 조내용, dtype: object

In [10]:
!pip install eunjeon

Requirement already satisfied: eunjeon in /opt/anaconda3/lib/python3.8/site-packages (0.4.0)

In [29]:
from konlpy.tag import Mecab
tagger = Mecab()

In [30]:
stop_words = "은 이 것 등 더 를 좀 즉 인 옹 때 만 원 이때 개 일 기 시 럭 갤 성 삼 스 폰 트 드 기 이 리 폴 사 전 마 자 플 블 가 "
stop_words=stop_words.split(' ')
stop_words[0:10]

['은', '이', '것', '등', '더', '를', '좀', '즉', '인', '옹']

In [31]:
nouns = []
for post in posts:
    for noun in tagger.nouns(post):
        if noun not in stop_words:
            nouns.append(noun)
nouns[0:10]

['조', '목적', '법', '산업', '안전', '보건', '기준', '확립', '책임', '소재']

In [32]:
words = []
for post in posts:
    words.extend(tagger.pos(post))
words[0:10]

[('제', 'XPN'),
 ('1', 'SN'),
 ('조', 'NNG'),
 ('(', 'SSO'),
 ('목적', 'NNG'),
 (')', 'SSC'),
 ('이', 'JKS'),
 ('법', 'NNG'),
 ('은', 'JX'),
 ('산업', 'NNG')]

In [33]:
verbs=[]
for word in words:
    if word[1]=='VV':
        verbs.append(word[0]+'다')
verbs[0:10]

['하다', '의하다', '인하다', '걸리다', '정하다', '하다', '맡기다', '받다', '받다', '받다']

In [34]:
adjective=[]
for word in words:
    if word[1]=='VA':
        adjective.append(word[0]+'다')
adjective[0:10]

['같다', '심하다', '있다', '없다', '같다', '같다', '같다', '같다', '같다', '없다']

In [35]:
from collections import Counter
counted_nouns = Counter(nouns)
top_20 = counted_nouns.most_common(20)
top_20

[('항', 2290),
 ('조제', 1533),
 ('안전', 1016),
 ('경우', 907),
 ('조', 740),
 ('보건', 671),
 ('고용', 571),
 ('자제', 446),
 ('물질', 420),
 ('호', 398),
 ('위반', 382),
 ('근로자', 353),
 ('해당', 353),
 ('사항', 347),
 ('작업', 342),
 ('기관', 320),
 ('노동', 302),
 ('부령', 301),
 ('장관', 262),
 ('노동부', 261)]